.row, .col {
  border: 1px solid black;

}

.row {
  height: 10vh;
  width: 45vw;
  font-size: 70px;
  text-align: center;
}

.col .btn {
  height: 110px;
  width: 100%;
  margin-top: 1px;
}

.col {
  overflow: hidden;
}
