.row, .col {
  font-size: 80px;
}

.col {
  overflow: hidden;
}

.bottom-line {
  border-bottom: 3px solid black;
}

.right-line {
  border-right: 3px solid black;
}

.btn-danger {
  margin: 5px;
}

.container {
  text-align: center;
}

.btn {
  margin-bottom: 5px;
}
